# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Project Data
# Do not commit data files to the repository.
/data/**/*.csv
/data/**/*.xlsx
/data/**/*.json
/data/**/*.parquet
/data/**/*.pkl
/data/**/*.h5

# Project Documentation
github_projects.md
